@use "../util/index2" as *;

main {
  position: relative;
  top: 48px;
  z-index: 3;
}
.title {
  display: flex;
  justify-content: space-between;
  h1 {
    letter-spacing: 10px;
    color: white;
    margin-bottom: 0;
  }
  img {
    width: 20px;
    height: 22px;
  }
}

.input {
  position: relative;
  margin-top: 32px;
  .input-field {
    width: 100%;
    height: rem(48);
    padding: rem(5) rem(0) rem(0) rem(53);
    border-radius: rem(5);
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid hsl(233, 14%, 35%);
    position: absolute;
    top: 14px;
    left: 20px;
    z-index: 3;
  }
}
.task-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: rem(25) rem(20);
  .complete-task {
    @include breakpoint(large) {
      display: flex;
    }
    display: none;
    & > div {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.completed-options {
  @include breakpoint(large) {
    display: none;
  }
  margin-top: rem(16);
  width: 100%;
  height: rem(48);
  background-color: white;
  border-radius: rem(5);
  display: flex;
  justify-content: center;
  padding: rem(16) 0;
  & > div {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

#dark {
  .header {
    background-image: url("/src/Assests/bg-desktop-dark.jpg");
    @include breakpoint-down("x-small") {
      background-image: url("/src/Assests/bg-mobile-dark.jpg");
    }
  }
  .input {
    input[type="text"] {
      background-color: hsl(235, 24%, 19%);
      color: hsl(234, 39%, 85%);
      &::placeholder {
        color: hsl(234, 11%, 52%);
      }
    }
  }
  .tasks-container {
    background-color: hsl(235, 24%, 19%);
    .tasks {
      input[type="checkbox"] {
        &:checked {
          & + label {
            color: hsl(233, 14%, 35%);
          }
        }
      }
      label {
        color: hsl(234, 39%, 85%);
      }
    }
  }
  .task-option {
    & > div {
      &:last-child {
        &:hover {
          color: hsl(234, 39%, 85%);
        }
      }
      color: hsl(233, 14%, 35%);
    }
    .complete-task {
      & > div {
        color: hsl(233, 14%, 35%);
        &:hover {
          color: hsl(234, 39%, 85%);
        }
      }
    }
  }
  .completed-options {
    background-color: hsl(235, 24%, 19%);
    & > div {
      color: hsl(233, 14%, 35%);
      &:hover {
        color: hsl(234, 39%, 85%);
      }
    }
  }
}

#light {
  .header {
    background-image: url("/src/Assests/bg-desktop-light.jpg");
    @include breakpoint-down("x-small") {
      background-image: url("/src/Assests/bg-mobile-light.jpg");
    }
  }
  .input {
    input[type="text"] {
      background-color: hsl(0, 0%, 98%);
      color: hsl(235, 19%, 35%);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      &::placeholder {
        color: hsl(234, 11%, 52%);
      }
    }
  }
  .tasks-container {
    background-color: hsl(0, 0%, 98%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .tasks {
      input[type="checkbox"] {
        &:checked {
          & + label {
            color: hsl(233, 11%, 84%);
          }
        }
      }
      label {
        color: hsl(235, 19%, 35%);
      }
    }
  }
  .task-option {
    & > div {
      &:last-child {
        &:hover {
          color: hsl(233, 14%, 35%);
        }
      }
      color: hsl(236, 9%, 61%);
    }
    .complete-task {
      & > div {
        color: hsl(236, 9%, 61%);
        &:hover {
          color: hsl(233, 14%, 35%);
        }
      }
    }
  }
  .completed-options {
    background-color: hsl(0, 0%, 98%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    & > div {
      color: hsl(236, 9%, 61%);
      &:hover {
        color: hsl(233, 14%, 35%);
      }
    }
  }
}
